/* http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-size: 100%; 
  font: sans-serif; 
  box-sizing: border-box; 
  vertical-align: baseline; 
  text-rendering: optimizeLegibility;
} 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
  display: block; 
}

body {
  font-family: sans-serif;
  line-height: 1.25; 
}

h1, h2, p {
  font-size: 1.25rem; 
  padding-bottom: 1rem;
}

.work-item {
  font-size: 1.25rem;
  padding-bottom: .5rem;
}

.content {
  padding: 6vw 4vw;
  margin: auto;
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 4vw 1rem;
  grid-template-rows: 2;
}

.intro {
  grid-row: 1;
  grid-column: 4 / 10;
  padding-right: 2.5rem;
} 

/* Work list */

.work-list {
  display: grid;
  grid-column: 1 / 13;
  grid-row: 2;
}

.work-item {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 1rem;
  grid-template-rows: auto;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

.work-item::-webkit-details-marker {
  display: none;
}

.org {
  grid-column: 1 / 4;
}

.title {
  grid-column: 4 / 10;
}

.date {
  grid-column: 10 / 12;
}

.category {
  grid-column: 12 / 13;
}


/* responsive views */

@media screen and (max-width: 920px) {
  
  .intro{
    grid-column: 1 / 10;
    padding-right: 1rem;
  }
  .content h1, h2, p, .work-item{
    font-size: 1rem;
  }
}


@media screen and (max-width: 650px) {
  
  .intro{
    grid-column: 1 / 11;
    padding-bottom: 2rem;
    padding-right: 0;
  }

  .org {
  grid-column: 1 / 4;
  }

  .title {
    grid-column: 4 / 11;
  }

  .date {
    grid-column: 11 / 13;
  }

  .category {
    display: none;
  }
}


@media screen and (max-width: 550px) {

  .intro{
    grid-column: 1 / 13;
    padding: .25rem 0 2rem 0;
    }

  .work-item {
    display: grid;
    grid-template-columns: repeat(2, [col-start] 1fr);
    column-gap: 1rem;
    row-gap: .25rem;
    grid-template-rows: auto;
    }

  .org {
  grid-column: 1 / 3;
  padding-bottom: .75rem;
  }

  .title {
    grid-column: 1 / 3;
  }

  .date {
    grid-column: 1 / 2;
  }

  .category {
    display: block;
    grid-column: 2 / 3;
    align-items: right;
    text-align: right;
  }
}

