/* http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-size: 100%; 
  font: sans-serif; 
  box-sizing: border-box; 
  vertical-align: baseline; 
  text-rendering: optimizeLegibility;
} 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
  display: block; 
}

body {
  font-family: sans-serif;
  line-height: 1.25; 
}

h1, h2, p, .work-item{
  font-size: 1.25rem; 
  padding-bottom: 1rem;
}

.content {
  padding: 6vw 4vw;
  max-width: 80rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 4vw 1rem;
  grid-template-rows: 2;
}

.intro {
  grid-row: 1;
  grid-column: 4 / 10;
  padding-right: 2.5rem;
} 

/* Work list */

.work-list {
  grid-column: 1 / 13;
  grid-row: 2;
}

.work-item {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 1rem;
  grid-template-rows: auto;
  padding-bottom: 1.5rem;
}

.org {
  grid-column: 1 / 4;
  justify-self: right;
  padding-right: 1rem;
  text-align: right;
}

.title {
  grid-column: 4 / 10;
}

.date {
  grid-column: 10 / 12;
  padding-left: 1rem;
}

.category {
  grid-column: 12 / 13;
}
